<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <% 
				  var image_src;
				  
				  %>
				  <% if (result_2) { %>
					<% image_src = result_2.img_src; %>
				   <%} else { %>
					 <% image_src = '../resources/img/helmet.jpg'; %>
				   <% } %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/select_player" method="get"></form>
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <% for (var i =0; i < result_1.length;  i++ ) { %>
								<option value = "<%= result_1[i].id %>" > <%= result_1[i].name %> </option> 
						  <% } %>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id, 
							 			but will display the player's name-->
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
							<th>Year</th>
							<td>
								<% if(result_2){ %>
									<%= result_2.year %> 
								   <% } %>		
							</td>
						</tr>
						<tr>
							<th>Major</th>
							<td>
								<% if(result_2){ %>
									<%= result_2.major %> 
								   <% } %>	
							</td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td>	
								<% if(result_3){ %>
									<%= result_3 %> 
								   <% } %>	
							</td>
						</tr>
						<tr>
							<td>Passing Yards: 
								<% if(result_2){ %>
									<%= result_2.passing_yards %> 
							   	<% } %>
							</td>
							<td>Avg. Passing Yards: 
								<% if(result_2){ %>
									<% if(result_3){ %>
								 		<%= Number(result_2.passing_yards)/Number(result_3) %> 
									<% } %>
								<% } %>
							</td>
						</tr>
						<tr>
							<td>Rushing Yards: 
								<% if(result_2){ %>
									<%= result_2.rushing_yards %> 
							   <% } %>
							</td>
							<td>Avg. Rushing Yards: 
								<% if(result_2){ %>
									<% if(result_3){ %>
								 		<%= Number(result_2.rushing_yards)/Number(result_3) %> 
									<% } %>
								<% } %>
							</td>
						</tr>
						<tr>
							<td>Receiving Yards: 
								<% if(result_2){ %>
									<%= result_2.receiving_yards %> 
							   <% } %>
							</td>
							<td>Avg. Receiving Yards: 
								<% if(result_2){ %>
									<% if(result_3){ %>
								 		<%= Number(result_2.receiving_yards)/Number(result_3) %> 
									<% } %>
								<% } %>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
  
<% include ../partials/footer %>