<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="jumbotron">
		  <h1 class="display-4">Fall 2018 Stats</h1>
		  <p class="lead">Detailed information on how the Buffs are doing in the 2018 Football Season!</p>
		</div>
		
		<table class="table table-bordered" id="stats_table">
			<tr>
				<th class="align-bottom" rowspan="2">Game Date</th>
				<th class="align-bottom"rowspan="2">Opposing Team Name</th>
				<th class="text-center" colspan="2">Score</th>
				<th class="align-bottom" rowspan="2">Winner</th>
			</tr>
			<tr>
				<th>Home Score</th>
				<th>Opp. Score</th>
			</tr>
			<% for (var i =0; i < Number(result_2) + Number(result_3);  i++ ) { %>
				
				<tr>
					<td>
						<%= result_1[i].game_date %>
					</td>
					<td>
						<%= result_1[i].visitor_name %>
					</td>
					<td>
						<%= result_1[i].home_score %>
					</td>
					<td>
						<%= result_1[i].visitor_score %>
					</td>
					<td>
						<% if(result_1[i].home_score > result_1[i].visitor_score ){ %>
							<%= 'CU Boulder' %> 
						<% } %>
						<% if(result_1[i].home_score < result_1[i].visitor_score ){ %>
							<%= result_1[i].visitor_name %> 
						<% } %>
					</td>
				</tr>
				<% } %>
		</table>
		<br>
		<table class="table text-center">
			<tr>
				<th>Wins</th>
				<th>Losses</th>
			</tr>
			<tr>
				<td> <!-- TODO: Display the total number of wins here.  
								This value should come from your server.js files query, don't calculate it in this file! -->
						<%=result_2%></td>			
				<td> <!-- TODO: Display the total number of losses here.  
								This value should come from your server.js files query, don't calculate it in this file! -->
							<%=result_3%></td>
			</tr>
		</table>
		
	</div>
<% include ../partials/footer %>
